header {
    background-color: #263F5B;
}

#title {
    font-size: large;
}

#subtitle {
    font-size: medium;
}

#title, #subtitle {
    font-family: 'EB Garamond', serif;
    color: white;
}

nav {
    background-color: #f7f7f7;
}

footer {
    background-color: #324E6e;
}